section.slide-info,
section.hero-banner div.text-holder,
section.contact-info {
  color: white;
}

section.hero-banner {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  margin-top: -300px;
  margin-left: -150px;
  div.inner-container {
    div.text-holder {
      text-transform: uppercase;
      text-align: center;
      span.name {
        font-size: 24px;
      }
      span.title {
        font-size: 12px;
      }
    }
  }
}

nav.bottom-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  section.contact-info {
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: right;
    a {
      color: white;
    }
  }
  section.slide-info {
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
    span.title-date-holder {
      display: inline-block;
      span.title {
        text-align: left;
      }
      span.date {
        text-align: right;
      }
    }
  }
}


body {
  font-family: 'Montserrat', sans-serif !important;
}











