body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: black !important;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
}

.transform(@string) {
  -webkit-transform: @string;
  -moz-transform: @string;
  -ms-transform: @string;
  -o-transform: @string;
}

section.hero-banner {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -150px;
  .transition(top ease-in-out 0.25s);
  &:empty {
    top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));
  }
  div.inner-container {
    div.logo-holder {
      height: 200px;
      width: 200px;
      margin: auto;
      img {
        height: 200px;
        width: 200px;
      }
    }
    div.text-holder {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      color: white;
      span.name {
        font-size: 24px;
      }
      span.title {
        font-size: 12px;
      }
    }
  }
}

nav.bottom-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  line-height: 22px;
  section.contact-info {
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: right;
    color: white;
    a {
      color: white;
    }
  }
  section.slide-info {
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
    color: white;
    span.title-date-holder {
      display: inline-block;
      span.title {
        text-align: left;
      }
      span.date {
        text-align: right;
      }
    }
  }
}

.animate-show {
  opacity: 1;
  display: block;
  .transition(all linear 1s);
}

.animate-show.ng-hide {
  opacity: 0;
  display: none;
  .transition(all linear 1s);
}

@media only screen and (min-width: 0px) and (max-width: 989px) {
  section.hero-banner {
    top: 20px;
    .transition(top ease-in-out 0.25s);
    div.inner-container {
      div.text-holder {
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  section.hero-banner {
    height: 200px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    .transition(all ease-in-out 0.25s);
    &:empty {
      top: 50%;
      left: 50%;
      .transform(translate(-50%, -50%));
    }
    div.inner-container {
      div.logo-holder {
        height: 100px;
        width: 100px;
        margin: auto;
        img {
          height: 100px;
          width: 100px;
        }
      }
      div.text-holder {
        span.name {
          font-size: 18px
        }
      }
    }
  }

  nav.bottom-bar {
    section.slide-info {
      .transition(all linear 0.25s);
      display: none !important;
      opacity: 0 !important;
    }
    section.contact-info {
      font-size: 14px
    }
  }
}