section.slide-info,
section.hero-banner div.text-holder,
section.contact-info {
  color: white;
}

section.hero-banner {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 30%;
//  background: black;
  left: 50%;
  margin-left: -150px;
  &:empty {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  div.inner-container {
    div.logo-holder {
      height: 200px;
      width: 200px;
      margin: auto;
      img {
        height: 200px;
        width: 200px;
      }
    }
    div.text-holder {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      span.name {
        font-size: 24px;
      }
      span.title {
        font-size: 12px;
      }
    }
  }
}

nav.bottom-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  line-height: 22px;
  section.contact-info {
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: right;
    a {
      color: white;
    }
  }
  section.slide-info {
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
    span.title-date-holder {
      display: inline-block;
      span.title {
        text-align: left;
      }
      span.date {
        text-align: right;
      }
    }
  }
}


body {
  font-family: 'Montserrat', sans-serif !important;
}











