<section class="hero-banner">
    <div class="inner-container">
        <div class="logo-holder">

        </div>
        <div class="text-holder">
            <span class="name">Rachel Lee Thai</span><br>
            <span class="title">Graphic Designer</span>
        </div>
    </div>
</section>


<nav class="bottom-bar">
    <div class="row">
        <div class="col-md-6">
            <section class="slide-info">
                <span class="title-date-holder">
                    <span class="title">
                        {{imageInfo.title}}
                    </span>
                    <span class="date">{{imageInfo.date}}</span>
                </span><br>
                <span>{{imageInfo.description}}</span>
            </section>
        </div>
        <div class="col-md-6">
            <section class="contact-info">
                Say Hello<br>
                <a href="mailto:rachellee.thai@gmail.com">rachellee.thai@gmail.com</a>
            </section>
        </div>
    </div>

</nav>




